.imprint {
  padding: 40px;
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Full viewport height */
}

/* Allow the main content to grow and push the footer to the bottom */
.wrapper {
	flex: 1; /* This allows the main content to expand and take up available space */
}